body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    background-color: #2979ff;
    height: 70px;
    width: 100%;
    text-align:center;
  }

  .navigation-bar img{
    float:left;
  }

  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }

  .nav_about {
      width: 100%;
      height: 621px;
  }

  .nav_about img {
      margin-left: 120px;
  }

  .nav_about h1 {
      padding-top: 210px;
      text-align: center;
  }

  .nav_about p {
      width: 100%;
      font-size: larger;
      text-align: center;
      padding-right: 1em;
  }

  #nav_features h1 {
      margin-left: 0;
  }

  #nav_features li { 
    margin-left: 0;
}

.box {
    float: left;
    width: 50%;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
